<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Playlist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  <ion-button color="primary" (click)="openMusicDialog()">Test Music Dialog!</ion-button>-->

  <ion-list-header>
    Recently Loved
  </ion-list-header>

  <ion-item (click)="openMusicDialog()">
    <ion-avatar slot="start">
      <img src="assets/Ed_Avatar1.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Perfect</h2>
      <h3>Ed Sheeran</h3>
    </ion-label>
  </ion-item>

  <ion-item (click)="openMusicDialog2()">
    <ion-avatar slot="start">
      <img src="assets/Ed_Avatar2.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Shape Of You - Mashup</h2>
      <h3>Ed Sheeran</h3>
    </ion-label>
  </ion-item>

  <ion-item (click)="openMusicDialog2()">
    <ion-avatar slot="start">
      <img src="assets/Ed_Avatar2.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Shape Of You - Mashup</h2>
      <h3>Ed Sheeran</h3>
    </ion-label>
  </ion-item>

  <ion-item (click)="openMusicDialog()">
    <ion-avatar slot="start">
      <img src="assets/Ed_Avatar1.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Perfect</h2>
      <h3>Ed Sheeran</h3>
    </ion-label>
  </ion-item>

  <ion-item (click)="openMusicDialog()">
    <ion-avatar slot="start">
      <img src="assets/Ed_Avatar1.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Perfect</h2>
      <h3>Ed Sheeran</h3>
    </ion-label>
  </ion-item>
</ion-content>
